:root {
    /* PALLET */

    --clr-primary: rgb(43, 190, 190);

    --clr10: rgb(238, 247, 255);
    --clr0: rgb(22, 22, 22);
}

/* TYPOGRAPHY */

@font-face {
    font-family: sigmar-one;
    src: url(../fonts/sigmar/SigmarOne.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}


/* BASICS */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

html {
    height: 100%;
}

body {
    position: relative;
    flex-direction: column;
    height: 100%;
    background-color: rgba(243, 232, 232, 0.808);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sigmar-one;
    color: rgb(209, 255, 253);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr0);
}

input {
    border-radius: 5px;
}

/* HELPERS */

.flex {
    display: flex;
}

.hidden {
    display: none;
}

/* COMPONENTS */

.modal-container {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(63, 63, 63, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    opacity: 0;

    transition: opacity 0.6s;
    pointer-events: none;
}


body.modal-open .modal-container {
    opacity: 1;
    pointer-events: auto;
}



/* HEADER */

.main-header {
    align-items: center;
    height: 9vh;
    background-color: var(--clr-primary);
    width: 100%;
    position: fixed;

}

.main-header img {
    height: 60px;
}

.main-header button {
    color: var(--clr10);
    border: none;
    background-color: inherit;
}

.main-header button:hover {
    color: var(--clr0);
}

/* MAIN CONTENT */

/* IMAGE GALLERY */

.search-nav {
    margin-top: 9vh;
    width: 100%;
    overflow: scroll;
    height: 16vh;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
}

.key-words {
    align-items: center;
}

.key-words span {
    margin: 5px;
}

.search-nav button,
.search-nav input {
    border-radius: 10px;
    border: 3px solid teal;
}

/* IMAGES LAYOUT */

.image-container {
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 90%;
    gap: 20px;
    overflow: auto;
    margin-bottom: 50px;
}

.img-card {
    flex-basis: auto;
    aspect-ratio: 1/1;
    max-height: 100%;
}

.img-card:hover {
    opacity: 0.5;
}

.photo {
    cursor: pointer;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid black;
}

/* MEME EDITOR */

.meme-editor-container {
    width: 100%;
    height: 609px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(71, 117, 117);
    margin-top: 100px;
    margin-bottom: 5px;
    padding: 10px;
    bottom: 0;
    gap: 5px;

}


.canvas-container {
    align-items: center;
    width: 80%;
    height: 40%;
    border-radius: 10px;
}

.workspace {
    justify-content: center;
    width: 90%;
    height: 55%;
    border: 5px solid teal;
    background-color: rgba(45, 224, 224, 0.445);
    border-radius: 20px;
}

.workspace-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.workspace-btn {
    margin: auto;
    border-radius: 10px;
    border: 3px solid teal;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}


/* GRID LAYOUT */

.meme-text {
    grid-column: 1/-1;
}

.up-and-down {
    grid-column: 2;
}

.increase-font {
    grid-row: 3;
    grid-column: 1;
}

.decrease-font {
    grid-row: 3;
    grid-column: 2;
}

.align-left {
    grid-row: 3;
    grid-column: 3;
}

.align-center {
    grid-row: 3;
    grid-column: 4;
}

.align-right {
    grid-row: 3;
    grid-column: 5;
}

.impact {
    grid-row: 4;
    grid-column: 2/5;
}

.carousel{
    grid-row: 6;
    grid-column: 1/6;
}

.save {
    grid-row: 7;
    grid-column: -5;
}

.share {
    grid-row: 7;
    grid-column: -4;
}

.download {
    grid-row: 7;
    grid-column: -3;
}

.carousel{
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid teal;
}

.carousel img{
    width: 30px;
    height: 30px;
}

a.workspace-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-stroke {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5;
    grid-column: 2;
}

.paint-board {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5;
    grid-column: 4;
}


/* saved-memes-section */

.saved-memes-section {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.saved-memes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work {
    width: 24vh;
    height: 34vh;
    padding: 16px;
    border-radius: 10px;
    border: 3px solid silver;
    margin: 20px;
    background-color: rgb(49, 57, 61);
    color: azure;
    cursor: pointer;
}

.work img {
    width: 20vh;
    height: 15vh;
    margin: auto;
    margin-top: 10px;
}


/* FOOTER */

.main-footer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 17vh;
    background-color: var(--clr-primary);
    bottom: 0;
    z-index: 10;
}

.main-footer img {
    height: 50px;
}








/* MOBILE */
@media (max-width: 900px) {

    /* header */
    .main-header {
        font-size: 0.6rem;
        justify-content: space-between;
        padding-inline: 0;
    }

    .main-header img {
        height: 30px;
    }

    .main-header button {
        width: 40px;
        height: 10px;
        font-size: 0.7rem;
        margin: 10px;
    }

    .main-nav {
        position: absolute;
        background-color: rgba(172, 172, 172, 0.9);
        border-inline-start: 1px solid #ccc;
        bottom: 0;
        right: 0;
        margin: 0, auto 0;
        transform: translateX(115%);

        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: 0px 9px 14px rgb(0 0 0 / 30%);
    }

    /* main content */

    /* image gallery */

    .img-card {
        width: 45%;
    }

    /* meme editor */

    .workspace-container {
        gap: 10px;
    }

    .workspace-btn img {
        max-width: 100%;
        max-height: 100%;
    }

    .meme-text {
        grid-column: 2/5;
        max-width: 200px;
        height: 30px;
    }

    #text-stroke,
    #paint-board {
        max-width: 30px;
    }

    .text-sroke-img,
    .paint-board-img {
        max-width: 20px;
        max-height: 20px;
    }

    .impact {
        height: 30px;
    }

    .workspace button {
        max-height: 50px;
        max-width: 50px;
    }

    /* saved meme section */

    .saved-memes-section {
        margin-top: 80px;
    }
}

@media (min-width: 600px) {
    .workspace {
        width: 60%;
    }
}


/* SMALL */
@media (min-width: 760px) {

    /* header */
    .main-header {
        font-size: 1rem;
        justify-content: space-between;
    }

    .main-header button {
        width: 60px;
        height: 20px;
        font-size: 1rem;
    }

    /* main content */

    /* image gallery */


    .img-card {
        width: 30%;
    }

    .search-nav {
        padding-inline: 40px;
    }

    /* meme editor */

    .canvas-container {
        height: 60%;
    }

    .workspace-container {
        height: 40%;
        gap: 20px;
    }


}

/* MEDIUM */
@media (min-width: 900px) {

    /* header */

    .btn-menu {
        display: none;
    }

    .main-header {
        font-size: 1.5rem;

    }

    .main-header button {
        width: 120px;
        height: 40px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    /* main content */

    /* image gallery */

    .search-nav {


        height: 10vh;

    }

    .search-nav button,
    input {
        height: 5vh;
    }

    .search-nav input {
        width: 300px;
    }

    /* meme editor */

    .canvas-container {
        width: 58%;
        height: 85%;
    }

    .workspace {
        width: 40%;
        height: 85%;
    }

    .input.impact {
        height: 40px;
    }

    .meme-editor-container {
        flex-direction: row;
        height: 789px;
    }

    .workspace-container {
        margin-top: 50px;
    }



    .workspace-btn {
        width: 55px;
        height: 55px;
    }

    .workspace-btn img {
        width: 40px;
        height: 40px;
    }

    /* saved meme section */

    .saved-memes-section {
        margin-top: 200px;
    }
}

@media (min-width:1300px) {
    .workspace-btn {
        width: 70px;
        height: 70px;
    }
}

/* LARGE */
@media (min-width: 1100px) {
    .main-header {
        padding-inline: 50px;
    }

    /* main content */

    /* image gallery */

    .img-card {
        width: 23%;
    }
}